* {
  box-sizing: border-box;
}

.logo {
  vertical-align: middle;

  margin-right: 1rem;
  margin-left: 1rem;
}

.navBar {
  box-shadow: inset 0 -0.063rem 0 #f3f3f4;
}
.search-nav {
  margin-left: 34rem;
}
.sign-in {
  padding-top: 0.375rem;
  margin: 0 0.7rem 0 0.5rem;
  /* margin-left: 0.5rem; */
}
@media (max-width: 991px) {
  .sing-in {
    display: none;
  }
}
.search-icon {
  margin: 0 0.5rem 0 0.5rem;
  /* margin-left: 0.5rem; */
}

.share-btn {
  color: white;
  background-color: #ea4c89;
  border: 0;
}

.btn:hover {
  color: white;
  background-color: #ea4c89;
  opacity: 0.5;
}

.showSignIn {
  display: none;
}
@media only screen and (max-width: 991px) {
  .navbar {
    width: 100%;
  }
  .sign-in {
    display: none;
  }
  .showSignIn {
    display: block;
  }
}
